@mixin mulitline-truncate($font-size: 14px, $line-height: 1.4, $lines-to-show: 4) {
  display            : block;
  display            : -webkit-box;
  max-width          : 400px;
  height             : $font-size*$line-height*$lines-to-show;
  padding-top        : 0;
  margin             : 0 auto;
  font-size          : $font-size;
  line-height        : $line-height;
  -webkit-line-clamp : $lines-to-show;
  -webkit-box-orient : vertical;
  overflow           : hidden;
  text-overflow      : ellipsis;
}

@mixin oneline-truncate {
  white-space   : nowrap;
  overflow      : hidden;
  text-overflow : ellipsis;
}
